#loginScene{
    -fx-border-color: aqua;
    -fx-border-width: 2px;
    -fx-background-image: url("/img/bgimage2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#backButton{
    -fx-background-color: crimson;
    -fx-font-size: large;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 10%;
}

.fieldWrong{
    -fx-background-color: pink;
    -fx-opacity: 0.9;
}

#loginButton{
    -fx-background-color: lightgreen;

}

.fieldOk{
    -fx-background-color: aquamarine;
    -fx-opacity: 0.9;
}