#loginScene{
    -fx-border-color: aqua;
    -fx-border-width: 2px;
}

#backButton{
    -fx-background-color: crimson;
    -fx-font-size: large;
    -fx-font-weight: bold;
}

.fieldWrong{
    -fx-background-color: pink;
    -fx-opacity: 0.9;
}

.fieldOk{
    -fx-background-color: aquamarine;
    -fx-opacity: 0.9;
}