#mainScene{
    -fx-background-image: url("/img/munjeviti.jpg");
    -fx-background-size: 500px 500px;
    -fx-background-position: right;
    -fx-background-position-y: 10%;
    -fx-border-color: black;
}
.labelClass{
    -fx-font-weight: bolder;
}

.buttonClass{
    -fx-background-color: crimson;
    -fx-font-weight: bold;
    -fx-font-size: large;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5%;
}